@import "../base/_colors";
@import "../base/_variable";
@import "../base/mixins";

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(270deg, rgba(42,169,224,1) 0%, rgba(58,80,142,1) 100%);
    color:$white ;
    padding-bottom: 50px;

    .box-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
        
        h2{
            text-align: center;
        }

        h3{
            font-size: 28px;
            margin-bottom: 20px;
        }

        h4{
            font-size: 15px;
            color: #ccc;
            text-transform: uppercase;
        }
        p{
            letter-spacing: 2px;
            a{
                text-decoration: none;
                color: $white;
            }
        }
        .social{
            @extend %social-footer;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            

            label {
                font-size: 15px;                
                margin: 5px 0;
                align-self: flex-start;
                text-transform: uppercase;
            }

            input,
            textarea {
                width: 100%;
                border: none;
                background-color: $white;
                margin-bottom: 20px;
                padding-left: 10px;
                border-radius: 3px;
            }
            input {
                height: 2em;
            }

            button {
                width: 120px;
                padding: 3px;
                background-color:$white;
                color: #333;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 400;
                transition: 300ms;

                &:hover {
                    background-color: #007f5f;
                    color:$white;
                    cursor: pointer;
                }
            }
            
        }
    }
}
