@media (max-width: 1024px) {
    .navbar-header {
        justify-content: space-between;
    }

    #experiencia {
        margin-bottom: 7em;
    }

    #footer {
        .footer-nav {
            .navbar-footer {
                justify-content: center;
            }
        }
    }
    .section-bio {
        .about-me {
            p {
                &::after {
                    top: 235px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .social {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 0;
        right: 0;

        a {
            color: #000;
            margin: 0;
        }
    }
    #post {
        .main-post {
            img {
                width: 100%;
                margin: 0;
            }
            .lighting {
                width: 100%;

                &::after {
                    top: 2.5em;
                }
            }
        }
    }
    .box-form {
        width: 100%;
    }
    #proyectos {
        height: fit-content;
    }
    .nav {
        display: none;
    }
    #footer {
        .footer-nav {
            .logo-footer {
                flex-direction: row;
            }
            .navbar-footer {
                justify-content: flex-end;
            }
        }
    }
    .section-bio {
        .about-me {
            margin-top: 130px;
            p {
                &::after {
                    top: 375px;
                }
            }
        }
    }
    .habilidades {
        .box-hab {
            h3 {
                margin-top: 30px;
            }
            .btn-contact {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 425px) {
    #inicio {
        .title {
            margin-top: 120px;

            p {
                width: 90%;
                margin: 0 auto;
            }
        }
        .social {
            flex-direction: row;
        }
    }

    #post {
        .main-post {
            .label-post {
                margin-top: 50px;
            }
            h2 {
                text-align: center;
            }
            .lighting {
                width: 100%;

                &::after {
                    top: 3em;
                }
            }
        }
    }

    #footer {
        .footer-nav {
            .logo-footer {
                flex-direction: column;
            }
            .navbar-footer {
                justify-content: center;
            }
        }
    }
    .section-bio {
        .about-me {
            flex-direction: column;
            p {
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
    }
    .habilidades {
        .box-hab {
            .h-icon {
                width: 100px;
            }
        }
    }
}

@media (max-width: 375px) {
    .header {
        .navbar-header {
            justify-content: center;
        }
    }
    #post {
        .main-post {
            .lighting {
                padding: 10px 10px;
                font-size: 15px;

                &::after {
                    display: none;
                }
                &::before {
                    display: none;
                }
            }
            p {
                padding: 0 10px;
            }
            .label-post {
                margin-top: 100px;
            }
        }
    }
}
